/bin/
/run/
/out/
/dist/
/include/
/lib/
/pkg/
/src/sword/
tags
*.swp
*.pyc
*.suo
*.user
*.sdf
*.qix
*.qm
*.opensdf
*.pb.go
/build/vc100/ipch
/build/vc100/parser.out
/build/parser.out
/data/app-data/resources/integration/Reports.lua
/data/data/
/data/exercises/
/data/tests/protocol_test/
/doc/
/src/masa/timeline/www/css/*.css
/src/masa/timeline/www/js/*.js
/src/masa/timeline/www/lib/*.min.js
/src/masa/timeline/www/tests/*.js
sessions/
