bin/
/run/
/out/
/dist/
/include/
/lib/
tags
*.swp
*.pyc
*.suo
*.user
*.sdf
*.qix
*.qm
/build/parser.out
/build/vc100/ipch/
/data/data/
/data/exercises/
/data/tests/protocol_test/
/doc/
/data/tests/launcher_test/exercises/sessions/backup/

