/* MASA Group Style */

input[type="radio"], input[type="checkbox"]
{
    margin: -1px 2px 0 0;
}

.checkbox_addon input[type=checkbox]
{
    position:   relative;
    top:        1px;
    left:       1px;
}
