body{padding-top:60px;padding-bottom:40px;}
.session{border-color:#000000;position:relative;}
.playing{border-color:#000000;position:relative;background-color:#93c47d;}
.paused{border-color:#000000;position:relative;background-color:#ffd966;}
.replaying{border-color:#000000;position:relative;background-color:#6fa8dc;}
.stopped{border-color:#000000;position:relative;background-color:#e06666;}
.session_row{position:relative;min-height:64px;}
.session_name{font-size:large;font-weight:bold;}
.session_exercise{padding-left:24px;}
.session_model{padding-left:24px;}
.session_top_right{position:absolute;top:6px;right:6px;}
.session_bottom_right{position:absolute;right:6px;bottom:6px;}
.session_search{float:right;}
.session_actions a{min-width:72px;}
.spin_btn{width:14px;height:18px;}
