body{padding-top:60px;padding-bottom:40px;}
.session{border:0;padding:0;margin:0;position:absolute;top:0;left:0;width:32px;height:100%;}
.playing{border:0;padding:0;margin:0;position:absolute;top:0;left:0;width:32px;height:100%;background-color:#93c47d;}
.paused{border:0;padding:0;margin:0;position:absolute;top:0;left:0;width:32px;height:100%;background-color:#ffd966;}
.replaying{border:0;padding:0;margin:0;position:absolute;top:0;left:0;width:32px;height:100%;background-color:#6fa8dc;}
.stopped{border:0;padding:0;margin:0;position:absolute;top:0;left:0;width:32px;height:100%;background-color:#e06666;}
.session_row{position:relative;min-height:64px;border-color:#000000;}
.session_name{font-size:large;font-weight:bold;}
.session_exercise{padding-left:24px;}
.session_model{padding-left:24px;}
.session_top_right{position:absolute;top:6px;right:6px;}
.session_bottom_right{position:absolute;right:6px;bottom:6px;}
.session_search{float:right;margin-bottom:20px;}
.session_actions a{min-width:72px;}
.spin_btn{width:14px;height:18px;}
.spin_btn .spinner{position:relative;top:9px;left:8px;}
.node_bar{margin-bottom:20px;}
