/* MASA Group Style */

@black:  #000000;
@run:    #93C47D;
@pause:  #FFD966;
@replay: #6FA8DC;
@stop:   #E06666;

body {
    padding-top:    60px;
    padding-bottom: 40px;
}

.session {
    border-color:   @black;
    position:       relative;
}

.playing {
    .session;
    background-color:   @run;
}

.paused {
    .session;
    background-color:   @pause;
}

.replaying {
    .session;
    background-color:   @replay;
}

.stopped {
    .session;
    background-color:   @stop;
}

.session_row {
    position:       relative;
    min-height:     64px;
}

.session_name {
    font-size:      large;
    font-weight:    bold;
}

.session_exercise {
    padding-left:   24px;
}

.session_model {
    padding-left:   24px;
}

@session_margin: 6px;

.session_top_right {
    position:   absolute;
    top:        @session_margin;
    right:      @session_margin;
}

.session_bottom_right {
    position:   absolute;
    right:      @session_margin;
    bottom:     @session_margin;
}

.session_search {
    float:      right;
}

.session_actions a {
    min-width:  72px;
}
