/* MASA Group Style */

@black:  #000000;
@run:    #93C47D;
@pause:  #FFD966;
@replay: #6FA8DC;
@stop:   #E06666;

body {
    padding-top:    60px;
    padding-bottom: 40px;
}

.session {
    border:     0;
    padding:    0;
    margin:     0;
    position:   absolute;
    top:        0;
    left:       0;
    width:      32px;
    height:     100%;
}

.playing, .running {
    .session;
    background-color:   @run;
}

.paused {
    .session;
    background-color:   @pause;
}

.replaying {
    .session;
    background-color:   @replay;
}

.stopped {
    .session;
    background-color:   @stop;
}

.session_row {
    position:       relative;
    min-height:     64px;
}

.session_name {
    font-size:      large;
    font-weight:    bold;
}

.session_exercise {
    padding-left:   24px;
}

.session_model {
    padding-left:   24px;
}

@session_margin: 6px;
@topbar_margin: 20px;

.session_top_right {
    position:   absolute;
    top:        @session_margin;
    right:      @session_margin;
}

.session_bottom_right {
    position:   absolute;
    right:      @session_margin;
    bottom:     @session_margin;
}

.session_search {
    float:          right;
    margin-bottom:  @topbar_margin;
    position:       relative;
}

.session_search i {
    position:   absolute;
    top:        8px;
    left:       8px;
}

.session_search input {
    padding-left:   24px;
}

.session_actions a {
    min-width:  72px;
}

.spin_btn {
    width:  14px;
    height: 18px;
}

.spin_btn .spinner
{
    position:   relative;
    top:        9px;
    left:       8px;
}

.node_row
{
    position:   relative;
}

.node_buttons
{
    position:   absolute;
    top:        10px;
    right:      8px;
}

.node_header
{
    position:   relative;
}

.node_header a
{
    margin-left: 24px;
}

.read_only
{
    cursor: text;
    border: 0;
    margin-top: 1px;
}

.footer
{
    text-align: center;
}

.brand_name
{
    margin-right: -20px;
}

.pull-right .label
{
    float:      left;
    margin-top: 10px;
}
