{
    "root": "c:\\Users\\Admin\\sword_cloud",
    "ports":
    {
        "period": "40",
        "min": "50000",
        "max": "60000",
        "proxy": "80"
    },
    "cluster":
    {
        "enabled": "true"
    },
    "ssl":
    {
        "enabled": "false",
        "certificate": "c:\\Users\\Admin\\sword_cloud\\bin\\certificate.pem",
        "key": "c:\\Users\\Admin\\sword_cloud\\bin\\key.pem"
    },
    "proxy":
    {
        "app": "c:\\Users\\Admin\\sword_cloud\\bin\\proxy.exe"
    },
    "node":
    {
        "app": "c:\\Users\\Admin\\sword_cloud\\bin\\node.exe",
        "root": "c:\\Users\\Admin\\sword_cloud\\bin\\..\\www",
        "min_play_s": "300"
    },
    "session":
    {
        "apps": "c:\\Users\\Admin\\sword_cloud\\bin"
    }
}